{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.EventHub?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11785"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.EventHub",
        "namespace": "Microsoft.EventHub",
        "authorizations": [
          {
            "applicationId": "80369ed6-5f11-4dd9-bef3-692475845e77",
            "roleDefinitionId": "eb8e1991-5de0-42a6-a64b-29b059341b7b"
          },
          {
            "applicationId": "6201d19e-14fb-4472-a2d6-5634a5c97568"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "namespaces",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
              "West Central US",
              "East Asia",
              "Southeast Asia",
              "Brazil South",
              "Japan East",
              "Japan West",
              "North Europe",
              "West Europe",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "South Africa North",
              "UAE North",
              "Australia Central",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2018-01-01-preview",
              "2017-04-01",
              "2015-08-01",
              "2014-09-01"
            ],
            "defaultApiVersion": "2017-04-01",
            "apiProfiles": [
              {
                "profileVersion": "2018-06-01-profile",
                "apiVersion": "2017-04-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "clusters",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
          [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/Default-EventHub-8348?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Australia East"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348",
        "name": "Default-EventHub-8348",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "45"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922",
        "name": "sdk-Namespace-8922",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-namespace-8922",
          "createdAt": "2020-08-04T08:48:36.85Z",
          "updatedAt": "2020-08-04T08:48:36.85Z",
          "serviceBusEndpoint": "https://sdk-Namespace-8922.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "messageRetentionInDays": 5
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit",
        "name": "sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit",
        "type": "Microsoft.EventHub/Namespaces/EventHubs",
        "location": "Australia East",
        "properties": {
          "messageRetentionInDays": 5,
          "partitionCount": 4,
          "status": "Active",
          "createdAt": "2020-08-04T08:49:29.98Z",
          "updatedAt": "2020-08-04T08:49:30.247Z",
          "partitionIds": [
            "0",
            "1",
            "2",
            "3"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit/authorizationRules/sdk-Authrules-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit/authorizationRules/sdk-Authrules-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit",
        "name": "sdk-Authrules-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit",
        "type": "Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules",
        "location": "Australia East",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit/authorizationRules?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11745"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit/authorizationRules/sdk-Authrules-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit",
            "name": "sdk-Authrules-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit",
            "type": "Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules",
            "location": "Australia East",
            "properties": {
              "rights": [
                "Listen",
                "Send"
              ]
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit/authorizationRules/sdk-Authrules-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-namespace-8922.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit;SharedAccessKey=hbyAvahAWFny3wVhV9w3yLhzCWBa/tA6L2\u002BLTJJqRDI=;EntityPath=sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit",
        "secondaryConnectionString": "Endpoint=sb://sdk-namespace-8922.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit;SharedAccessKey=jNjYHxdbAxjYKqyHCibqgrzKB5Fu5SGDwKV5DIOaJXc=;EntityPath=sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit",
        "primaryKey": "hbyAvahAWFny3wVhV9w3yLhzCWBa/tA6L2\u002BLTJJqRDI=",
        "secondaryKey": "jNjYHxdbAxjYKqyHCibqgrzKB5Fu5SGDwKV5DIOaJXc=",
        "keyName": "sdk-Authrules-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922/eventhubs/sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit/authorizationRules/sdk-Authrules-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit/regenerateKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "PrimaryKey"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-namespace-8922.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit;SharedAccessKey=wyKJP5cgX8z2fJapVj6X2GGeCm3MEU9nxtKmkkbq248=;EntityPath=sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit",
        "secondaryConnectionString": "Endpoint=sb://sdk-namespace-8922.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit;SharedAccessKey=jNjYHxdbAxjYKqyHCibqgrzKB5Fu5SGDwKV5DIOaJXc=;EntityPath=sdk-EventHub-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit",
        "primaryKey": "wyKJP5cgX8z2fJapVj6X2GGeCm3MEU9nxtKmkkbq248=",
        "secondaryKey": "jNjYHxdbAxjYKqyHCibqgrzKB5Fu5SGDwKV5DIOaJXc=",
        "keyName": "sdk-Authrules-thisisthenamewithmorethan53charschecktoverifytheremovlaof50charsnamelengthlimit"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922?api-version=2018-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922/operationresults/sdk-Namespace-8922?api-version=2018-01-01-preview",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-deletes": "14987"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922/operationresults/sdk-Namespace-8922?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922/operationresults/sdk-Namespace-8922?api-version=2018-01-01-preview",
        "Retry-After": "41",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11743"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922",
        "name": "sdk-Namespace-8922",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-namespace-8922",
          "createdAt": "2020-08-04T08:48:36.85Z",
          "updatedAt": "2020-08-04T08:49:42.3Z",
          "serviceBusEndpoint": "https://sdk-Namespace-8922.servicebus.windows.net:443/",
          "status": "Removing"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-8348/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8922/operationresults/sdk-Namespace-8922?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11725"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "CreatePrimaryKey": "IfrKd4XCmetwFkcbWDnJvRcrUyitw0NpJmM6viW7Jyk=",
    "RandomSeed": "1007352685",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb",
    "UpdatePrimaryKey": "XSgoxOGJPEN/uqi0fUzSbS0O11g3PFel69c6gjkztdU="
  }
}