{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.EventHub?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11627"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.EventHub",
        "namespace": "Microsoft.EventHub",
        "authorizations": [
          {
            "applicationId": "80369ed6-5f11-4dd9-bef3-692475845e77",
            "roleDefinitionId": "eb8e1991-5de0-42a6-a64b-29b059341b7b"
          },
          {
            "applicationId": "6201d19e-14fb-4472-a2d6-5634a5c97568"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "namespaces",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
              "West Central US",
              "East Asia",
              "Southeast Asia",
              "Brazil South",
              "Japan East",
              "Japan West",
              "North Europe",
              "West Europe",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "South Africa North",
              "UAE North",
              "Australia Central",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2018-01-01-preview",
              "2017-04-01",
              "2015-08-01",
              "2014-09-01"
            ],
            "defaultApiVersion": "2017-04-01",
            "apiProfiles": [
              {
                "profileVersion": "2018-06-01-profile",
                "apiVersion": "2017-04-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "clusters",
            "locations": [
              "Australia East",
              "Australia Southeast",
              "Central US",
              "East US",
              "East US 2",
              "West US",
              "West US 2",
              "North Central US",
              "South Central US",
          [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/Default-EventHub-9301?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Australia East"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1160"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301",
        "name": "Default-EventHub-9301",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "41"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366",
        "name": "sdk-Namespace-2366",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-namespace-2366",
          "createdAt": "2020-08-04T08:53:41.22Z",
          "updatedAt": "2020-08-04T08:53:41.22Z",
          "serviceBusEndpoint": "https://sdk-Namespace-2366.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366/authorizationRules/sdk-Authrules-2202?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1159"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366/authorizationRules/sdk-Authrules-2202",
        "name": "sdk-Authrules-2202",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "Australia East",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366/authorizationRules/RootManageSharedAccessKey?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11591"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366/authorizationRules/RootManageSharedAccessKey",
        "name": "RootManageSharedAccessKey",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "Australia East",
        "properties": {
          "rights": [
            "Listen",
            "Manage",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366/authorizationRules?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11589"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366/authorizationRules/RootManageSharedAccessKey",
            "name": "RootManageSharedAccessKey",
            "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
            "location": "Australia East",
            "properties": {
              "rights": [
                "Listen",
                "Manage",
                "Send"
              ]
            }
          },
          {
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366/authorizationRules/sdk-Authrules-2202",
            "name": "sdk-Authrules-2202",
            "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
            "location": "Australia East",
            "properties": {
              "rights": [
                "Listen",
                "Send"
              ]
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366/authorizationRules/sdk-Authrules-2202/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-namespace-2366.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-2202;SharedAccessKey=suUm8clv5oZEcBZL2OXFYkB0OI3iQqNSjY5c5AQDGIU=",
        "secondaryConnectionString": "Endpoint=sb://sdk-namespace-2366.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-2202;SharedAccessKey=tweiWjXMlAEovjr452mu6FaJOohFORkZFjJbyDIwb6M=",
        "primaryKey": "suUm8clv5oZEcBZL2OXFYkB0OI3iQqNSjY5c5AQDGIU=",
        "secondaryKey": "tweiWjXMlAEovjr452mu6FaJOohFORkZFjJbyDIwb6M=",
        "keyName": "sdk-Authrules-2202"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366/authorizationRules/sdk-Authrules-2202/regenerateKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "PrimaryKey"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://sdk-namespace-2366.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-2202;SharedAccessKey=Ynblep/NjjzZqpXdBeaJo0tOBjJEn2f4DCElczFYlP0=",
        "secondaryConnectionString": "Endpoint=sb://sdk-namespace-2366.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules-2202;SharedAccessKey=tweiWjXMlAEovjr452mu6FaJOohFORkZFjJbyDIwb6M=",
        "primaryKey": "Ynblep/NjjzZqpXdBeaJo0tOBjJEn2f4DCElczFYlP0=",
        "secondaryKey": "tweiWjXMlAEovjr452mu6FaJOohFORkZFjJbyDIwb6M=",
        "keyName": "sdk-Authrules-2202"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366?api-version=2018-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366/operationresults/sdk-Namespace-2366?api-version=2018-01-01-preview",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-deletes": "14980"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366/operationresults/sdk-Namespace-2366?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366/operationresults/sdk-Namespace-2366?api-version=2018-01-01-preview",
        "Retry-After": "40",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11587"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366",
        "name": "sdk-Namespace-2366",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "Australia East",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-namespace-2366",
          "createdAt": "2020-08-04T08:53:41.22Z",
          "updatedAt": "2020-08-04T08:55:22.44Z",
          "serviceBusEndpoint": "https://sdk-Namespace-2366.servicebus.windows.net:443/",
          "status": "Removing"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-9301/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2366/operationresults/sdk-Namespace-2366?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11572"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "authorizaRuNa": "69dIZDkIN25a/wHlzMNMM94das9624CiZVGVGVCqfTg=",
    "RandomSeed": "662358407",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb",
    "UpdatePrimaryKey": "Jp5E0C0sqJenhEaoxzmGBx1VtKlhg\u002BwX4jr8NvlisD8="
  }
}