{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/Default-EventHub-3335?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1157"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3335",
        "name": "Default-EventHub-3335",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3335/providers/Microsoft.EventHub/namespaces/sdk-Namespace-1808?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "isAutoInflateEnabled": true,
          "maximumThroughputUnits": 10,
          "kafkaEnabled": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "40"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3335/providers/Microsoft.EventHub/namespaces/sdk-Namespace-1808",
        "name": "sdk-Namespace-1808",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "West US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": true,
          "maximumThroughputUnits": 10,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-namespace-1808",
          "createdAt": "2020-08-04T08:55:59.9Z",
          "updatedAt": "2020-08-04T08:55:59.9Z",
          "serviceBusEndpoint": "https://sdk-Namespace-1808.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3335/providers/Microsoft.EventHub/namespaces?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11537"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard",
              "tier": "Standard",
              "capacity": 1
            },
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3335/providers/Microsoft.EventHub/namespaces/sdk-Namespace-1808",
            "name": "sdk-Namespace-1808",
            "type": "Microsoft.EventHub/Namespaces",
            "location": "West US",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "properties": {
              "zoneRedundant": false,
              "isAutoInflateEnabled": true,
              "maximumThroughputUnits": 10,
              "kafkaEnabled": true,
              "provisioningState": "Succeeded",
              "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-namespace-1808",
              "createdAt": "2020-08-04T08:55:59.9Z",
              "updatedAt": "2020-08-04T08:56:45.597Z",
              "serviceBusEndpoint": "https://sdk-Namespace-1808.servicebus.windows.net:443/",
              "status": "Active"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.EventHub/namespaces?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimi[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3335/providers/Microsoft.EventHub/namespaces/sdk-Namespace-1808?api-version=2018-01-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag3": "value3",
          "tag4": "value4"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "39"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3335/providers/Microsoft.EventHub/namespaces/sdk-Namespace-1808",
        "name": "sdk-Namespace-1808",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "West US",
        "tags": {
          "tag3": "value3",
          "tag4": "value4"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": true,
          "maximumThroughputUnits": 10,
          "kafkaEnabled": true,
          "provisioningState": "Updating",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-namespace-1808",
          "createdAt": "2020-08-04T08:55:59.9Z",
          "updatedAt": "2020-08-04T08:56:49.303Z",
          "serviceBusEndpoint": "https://sdk-Namespace-1808.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3335/providers/Microsoft.EventHub/namespaces/sdk-Namespace-1808?api-version=2018-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3335/providers/Microsoft.EventHub/namespaces/sdk-Namespace-1808/operationresults/sdk-Namespace-1808?api-version=2018-01-01-preview",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-deletes": "14978"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3335/providers/Microsoft.EventHub/namespaces/sdk-Namespace-1808/operationresults/sdk-Namespace-1808?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3335/providers/Microsoft.EventHub/namespaces/sdk-Namespace-1808/operationresults/sdk-Namespace-1808?api-version=2018-01-01-preview",
        "Retry-After": "42",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11534"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3335/providers/Microsoft.EventHub/namespaces/sdk-Namespace-1808",
        "name": "sdk-Namespace-1808",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "West US",
        "tags": {
          "tag3": "value3",
          "tag4": "value4"
        },
        "properties": {
          "zoneRedundant": false,
          "isAutoInflateEnabled": true,
          "maximumThroughputUnits": 10,
          "kafkaEnabled": true,
          "provisioningState": "Succeeded",
          "metricId": "c9cbd920-c00c-427c-852b-8aaf38badaeb:sdk-namespace-1808",
          "createdAt": "2020-08-04T08:55:59.9Z",
          "updatedAt": "2020-08-04T08:56:52.68Z",
          "serviceBusEndpoint": "https://sdk-Namespace-1808.servicebus.windows.net:443/",
          "status": "Removing"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/Default-EventHub-3335/providers/Microsoft.EventHub/namespaces/sdk-Namespace-1808/operationresults/sdk-Namespace-1808?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11518"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1428487304",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}